body{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #2c3338;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}
input{
    height: 50px;
}

