* {
    box-sizing: border-box;
}
.navbar-custom{
    background-color: #434750;
}
body {
    width: 100%;
    background-color: #434750;
}

img {
    cursor: pointer;
}

#card-list {
    background-color: #A9A9A9;
    text-align: center;
}

#font-style {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.modal-header {
    background-color: #F0E68C;
    color: #00008B;
}

.modal-body {
    background-color: #1F2739;
}

.card-body {
    color: #8B0000;
}


